body{
	font-family: Verdana;
}

.file , button{
    position: relative;
    display: block;
    margin: auto;
    max-width: 200px;
    text-align: center;
    background-color: #324D5C;
    color: #46B29D;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.file input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#c2{
	display: block;
	margin: auto;
	max-width: 600px;
}

#c1{
	display: block;
	margin: auto;
	max-width: 90%;
}

.nadir{
	text-align: center;
	margin: 2em 0 1em;
	display: none;
}

.nadir input{
	border: none;
	border-bottom: 2px solid #F25C05;
	width: 100px;
	margin: 0 10px;
	text-align: center;
	color: #324D5C;
	font-size: 14px;
	padding: 3px 0;
	vertical-align: text-bottom;
}

.nadir button{
	display: inline-block;
	vertical-align: text-bottom;
	border: none;
	font-size: 14px;
}

table{
	display: inline-block;
	margin: 1em;
	vertical-align: text-top;
}
